.loading-state {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;

  &--small {
    padding: 12px;
  }

  &--large {
    padding: 48px;
  }
}

.loading-state__spin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
